<ion-header>
  <ion-toolbar>
    <ion-title>Your Storage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerLink]="['/', 'aturin', 'tabs', 'storage', 'item-detail']">
      <ion-label>Beras Selincah 20kg</ion-label>
      <ion-badge slot="end">1000</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Beras JM 20kg</ion-label>
      <ion-badge slot="end">900</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Beras Manggis 20kg</ion-label>
      <ion-badge slot="end">800</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Beras Arjuna 20kg</ion-label>
      <ion-badge slot="end">850</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Beras Selincah 20kg</ion-label>
      <ion-badge slot="end">900</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button class="ion-margin" expand="block">Add Item</ion-button>
</ion-footer>
