<ion-header>
  <ion-toolbar>
    <ion-title>Create Order</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="handleCancelButtonClick()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="transactionForm" class="add-transaction-form">
    <div class="subsection-title">Item Name</div>
    <ion-input type="text" formControlName="itemName"
               class="ion-no-padding input-text" clearInput autocapitalize="off">
    </ion-input>
  </form>
</ion-content>
